body {font-family:'Segoe UI'; background:#0f172a; color:white; margin:0;}

/* HEADER */
.header-wrapper{position:relative;height:140px;}
.banner{
position:absolute;
width:100%;
height:100%;
background:url("/ROMDOCK/img/banner.png") center/cover no-repeat;
filter:brightness(0.4);
}
.main-title{position:relative;text-align:center;padding-top:40px;font-size:52px;font-family:'Orbitron';}

/* TOPBAR */
.topbar{display:flex;align-items:center;padding:15px;}
.topbar button{background:#1e293b;color:white;border:none;padding:10px;border-radius:12px;cursor:pointer;}
.topbar-right{margin-left:auto;display:flex;gap:10px;}
